div.columna1,
div.columna2,
div.columa3{
           width: 33%;
           float: left;
}



div.columna4,
div.columna5 {
    width: 50%;
    float: left;

}

div.columna1,
div.columna3,
div.columna5{
    background-color: rgb(238, 211, 192);
}

