div.columna1,
div.columna2,
div.columna3 {
           width: 30%;
           padding: 10px;
           
           float: left;
           text-align: justify;
           text-align: justify;
            color: rgb(61, 58, 58);

}

div.columna3 img{
 height: 260px;
}

div.columna1 img{
    height: 200px;
}
div.columna2 img{
    height: 190px;
}
div.columna4,
div.columna5 {
    width: 50%;
    float: left;

}


div.columna5{
    background-color: rgb(238, 211, 192);
}

div.formulario{
    padding: 30px;
    text-align: left;
    color: rgb(63, 55, 55);
}

div.formulario h2{
    color:rgb(182, 151, 131);
    text-align: justify;
    
}

#peso{
    width: 2.5em;  height:1,5em;
}
#raza {
    height: 1.5em;
   }
  #nombre{
        height: 1.5em;
    
}
#fechanac{
    height: 1.5em;
}
#especie{
    height: 1.5em;
}
