
.main-header {
      background-image: url("images/dogs.jpg") ;
       padding-bottom: 150px;
      padding-top: 1px;
      text-align: center;
      
  
}

h1 { 
      text-align: center; 
      font-family:arial;
      font-weight:bold;
      font-size: 30px;
      color: white;
      text-shadow: -0.8px 0 rgb(107, 105, 105), 0 1px rgb(97, 95, 95),1px 0 rgb(92, 88, 88),0 -0.8px #000;
}

html, body{
     margin-bottom: 30px;
     margin-left: 15px;
    margin-top: 0;
    margin-right: 15px;


      padding-block: 0;
      background-color:rgba(248,244,241,255);
}

.ulclass li {
display: inline-block;
text-align: center;
background-color: rgba(0,0,0,0.2);
padding: 15px 0;
}
.ulclass{
      text-align: center;
}


.ulclass a{
     padding: 1em;
color: cornsilk;
text-decoration: none; 
}

.ulclass a:hover{
      background-color: darkgrey;
}

#logo {
      float:left;
      margin-left: 20px;;
    }

   