
.main-header {
      background-image: url("images/dogs.jpg") ;

      padding-bottom: 15px;
      padding-top: 1px;
      text-align: center;
}

h1 { 
      text-align: center; 
      font-family:arial;
      font-weight:bold;
      font-size: 60px;
      color: rgb(182, 151, 131);
      text-shadow: -0.8px 0 #000, 0 1px #000,1px 0 #000,0 -0.8px #000;
}

html, body{
      margin: 0;
      padding-block: 0;
      background-color:#f2e7e6;
}

.ulclass li {
display: inline-block;
text-align: center;
background-color: rgba(0,0,0,0.2);
padding: 15px 0;
}
.ulclass{
      text-align: center;
}


.ulclass a{
     padding: 1em;
color: cornsilk;
text-decoration: none; 
}

.ulclass a:hover{
      background-color: darkgrey;
}

